- if @results && @results[:success].any?
  .alert.alert-success.form-horizontal.denser
    %fieldset
      %legend
        %i.icon-chevron-right
        = @results[:success_message]
      %ul.control-group{style: 'display: none'}
        - @results[:success].each do |message|
          %li= message
- if @results && @results[:error].any?
  .alert.alert-danger.form-horizontal.denser
    %fieldset
      %legend
        %i.icon-chevron-down
        = @results[:error_message]
      %ul.control-group
        - @results[:error].each do |message|
          %li= message
