- if @results && @results[:success].any?
  .alert.alert-success
    %a{data: { toggle: "collapse"}, href: "#resultsSuccess"}
      %h4
        = @results[:success_message]
    #resultsSuccess.collapse
      %ul
        - @results[:success].each do |message|
          %li= message
- if @results && @results[:error].any?
  .alert.alert-danger
    %a{data: { toggle: "collapse"}, href: "#resultsError"}
      %h4
        = @results[:error_message]
    #resultsError.collapse
      %ul
        - @results[:error].each do |message|
          %li= message
